<%- include ('header') -%>
<div class="container">
  <h2 class="mt-4 mb-5"><%= title %></h2>

  <div class="card">
    <div class="card-body">
        <form action="/edit/<%= user.id %>" method="POST">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" name="name" id="name" value="<%= user.name %>" class="form-control" placeholder="Enter user name">
            </div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="email" name="email" id="email" value="<%= user.email %>" class="form-control" placeholder="Enter user email">
            </div>
            <div class="form-group">
                <label class="form-label">Phone Number</label>
                <input type="number" name="phone" id="phone" value="<%= user.phone_no %>" class="form-control" placeholder="Enter user phone number">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
  </div>
</div>
<%- include ('footer') -%>
