
    <%- include ('header') -%> 
    <div class="container">
        <h2 class="mt-4 mb-5"><%= title %> </h2>

        <a href="/add" class="btn btn-light btn-sm mb-3 add">➕ New</a>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <% users.forEach(u => { %>
                     <tr>
                         <td><%= u.name %> </td>
                         <td><%= u.email %> </td>
                         <td><%= u.phone_no %> </td>
                         <td>
                             <a href="/edit/<%= u.id %>" class="btn btn-primary btn-sm edit">✏️</a>
                             <a href="/del/<%= u.id %>" class="btn btn-danger btn-sm delete">🗑️</a>
                         </td>
                     </tr>
                    <% }) %>
                </tbody>
            </tbody>
        </table>
    </div>

    <%- include ('footer') -%> 